body {
    background-color: bisque;
}
    

.Principal  {
    background-color: darkgray;
}


p {
    text-align: center;
    background-color: rgb(15, 212, 15);
 }

 .itens {

    font-style: italic;
 }
 .Benefícios {
    background-color: white;
 }